
body {
	padding-top: 70px;
	/*background-color: #eee;*/
}

.box{
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	flex: flexbox;
	flex: 1;
}

img{
	width: 100%;
}

.navbar{
	background-color: #eee;
}
#topLogo{
	height: 50px;
	width: 50px;
}
.songBox{
	background-color: #eee;
}
audio{
	height: 45px;
	width: 100%;
}
.tinyLink{
	width: 30px;
	margin: 10px;
}

.listAddAddress{
	height: 30px;
	margin-bottom:10px; 
}