
body {
	padding-top: 90px;
	background-color: #eee; 
}

img{
	width: 100%;
}

audio{
	height: 45px;
	width: 100%;
}
video{
	width: 100%
}

table{
	size: 2em;
}

th{
	padding: 10px;
}

td{
	padding: 10px;
}

a{
	color: #541212;
}

.page{
	padding-bottom: 100px;
}

.box{
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.noPad{
	padding: 0px;
	border-radius: 5px;
	margin-bottom: 10px;
}


.leftBox{
	padding: 0px 10px 10px 0px;
	
}

.rightBox{
	padding: 0px 0px 10px 10px;

}

.navbar{
	background-color: #fff;
}

.dddBox{
	background-color: #ddd;
}


.bandBox{
	border-radius: 5px;
	background-color: #ddd;
}



.vidBox{
	background-color: #ddd;
	padding-top: 15px;
	padding-right: 4px;
	padding-bottom: 12px;
	padding-left: 4px;
}

.tinyLink{
	width: 30px;
	margin: 10px;
}

.listAddAddressButton{
	height: 30px;
	margin:10px;
	width: 100%; 
}

.listAddAddressText{
	height: 30px;
	margin:10px; 
	width:97%;
}

.stretch{
	align-content: stretch;
}

.bookingText{
	width: 100%;
}

.bigBookingText{
	width: 100%;
	min-height: 300px;
}

.tenPad{
	padding-left: 10px;
	padding-right: 10px;
}
.gigBox{
	align-items: stretch; 
}
#topLogo{
	height: 50px;
	width: 50px;
}

.musicVid{
	width: 100%;
}

.icon-bar{
	background-color: #000;
}
.vidCol{
	display: flex;
	align-content: center;
}
.vidTitle{
	margin-top: 0px;
}

.bookLink{
	text-align: center;
}
@media screen and (max-width: 768px) {
    .leftBox{
	padding: 0px 10px 10px 10px;
	}

	.rightBox{
		padding: 0px 10px 10px 10px;
	}

	.bandBox{
		margin-left: 0px;
		margin-right: 0px;
	}
}





