
	<div class="box dddBox">
		<div class="row">

			<div class="col-sm-3">
				<img src="monkey-site/media/images/album.jpg" alt="photo of an album cover">
			</div>

			<div class="col-sm-9">
				<h3>More Greatest Hits of the Monkees</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a target="blank" href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>

	<div class="box dddBox">
		<div class="row">

			<div class="col-sm-3">
				<img src="monkey-site/media/images/album2.jpg" alt="photo of an album cover">
			</div>

			<div class="col-sm-9">
				<h3>The Very Best of The Monkeys</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a target="blank" href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>

	<div class="box dddBox">
		<div class="row">

			<div class="col-sm-3">
				<img src="monkey-site/media/images/album3.jpg" alt="photo of an album cover">
			</div>

			<div class="col-sm-9">
				<h3>The Monkeys Greatest Hits</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a target="blank" href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>