<div class="container page">
	
	<div class="row bandBox">
		<div class="col-sm-6 box">
			<img src="media/images/band.jpg">			
		</div>

		<div class="col-sm-6 box align-items-end">
			<h2>The Monkeys</h2>
			<p>we are a swinging sensation, that guaranties to create a buzz at any ocasion</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

			Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

			Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>
		</div>		
	</div>	
<br>
	<div class="row ">

		<div class="col-sm-3 leftBox">
			<div class="dddBox box">
				<img src="media/images/dj.jpg">
				<h2>This Guy</h2>
				<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

				Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>
			</div>
		</div>

		<div class="col-sm-3 tenPad">
			<div class="dddBox box">
				<img src="media/images/pt.jpg">
				<h2>This Guy</h2>
				<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

				Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>
			</div>
		</div>

		<div class="col-sm-3 tenPad">
			<div class="dddBox box">
				<img src="media/images/md.jpg">
				<h2>This Guy</h2>
				<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

				Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>
			</div>
		</div>

		<div class="col-sm-3 rightBox">
			<div class="dddBox box">
				<img src="media/images/mn.jpg">
				<h2>This Guy</h2>
				<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras est elit, euismod quis ultricies dictum, tempor et ipsum. Vestibulum laoreet mauris semper massa scelerisque, in vehicula tellus maximus. Duis venenatis sagittis purus ac auctor. In venenatis dui et condimentum efficitur. In at sem eu nibh rhoncus mollis. Donec fermentum libero nec risus elementum ornare. Proin augue lectus, accumsan ac massa eget, tempor maximus leo.

				Morbi sed rutrum urna. Nunc quis consectetur lectus. Curabitur consequat dolor nec congue suscipit. Maecenas non dui consequat, dictum ex non, molestie orci. Suspendisse varius tortor bibendum nisl ullamcorper mattis. Aliquam erat volutpat. Donec ante leo, pulvinar at ornare ac, viverra vel mauris.</p>
			</div>
		</div>

	</div>
</div>