<div class="container">
	
	<div class="row">
		<div class="col-sm-6 box">
			<img src="media/images/band.jpg">			
		</div>

		<div class="col-sm-6 box align-items-end">
			<h2>The Monkeys</h2>
			<p>we are a swinging sensation, that guaranties to create a buzz at any ocasion</p>
		</div>		
	</div>	
<br>
	<div class="row">
		<div class="col-sm-3 box">
			<img src="media/images/dj.jpg">
			<h2>This Guy</h2>
			<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>
		</div>
		<div class="col-sm-3 box">
			<img src="media/images/pt.jpg">
			<h2>This Guy</h2>
			<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>
		</div>
		<div class="col-sm-3 box">
			<img src="media/images/md.jpg">
			<h2>This Guy</h2>
			<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>
		</div>
		<div class="col-sm-3 box">
			<img src="media/images/mn.jpg">
			<h2>This Guy</h2>
			<p>This Guy plays an instrument. he does it really well and stuff. thats why we let him in the band </p>
		</div>
	</div>
</div>