<div class="container page">
<div class="box dddBox gigBox">
	<div>
		<h2>list of gigs goes here</h2>
	</div>

<table>
    <tbody>
        <tr>
            <th>Date</th>
            <th>Venue</th>
            <th>City</th>
            <th>doors open</th>
            <th>Price/Buy tickets</th>
        </tr>
        <tr>
            <th>14 Feb</th>
            <td>the cavern</td>
            <td>Exeter</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
        <tr>
            <th>17th Feb </th>
            <td>the cavern</td>
            <td>bristol</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
         <tr>
            <th>18th Feb</th>
            <td>the cavern</td>
            <td>liverpool</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
         <tr>
            <th>24th Feb</th>
            <td>fabric</td>
            <td>london</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
         <tr>
            <th>25th Feb</th>
            <td>brass monkey festival</td>
            <td>cornwall</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
         <tr>
            <th>3rd March</th>
            <td>some other venue</td>
            <td>manchester</td>
            <td>9PM</td>
            <td>£10 <a href="/">buy</a></td>
        </tr>
    </tbody>
</table> 
</div>
</div>