

<div class="container page">
	
	<div class="box dddBox">
		<figure>
			<img src="media/images/Monkees.jpg" alt="band photo">
		</figure>
	</div>

	<div class="box dddBox">
		<h1 class="bookLink"><a href="/contact">Available for bookings now!</a></h1>
		<p class="bookLink">you can also look at pics, read about them, listen to them, watch them and even send them a message right here on the website.</p>
	</div>

	<div class="box dddBox">
		<h1 class="bookLink"><a target="blank" href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Available for sale</a></h1>
	</div>

	<albums></albums>

</div>
