

<div class="container page">
	
	<div class="box dddBox">
		<img src="media/images/Monkees.jpg">
	</div>

	<div class="box dddBox">
		<h1 class="bookLink"><a href="/contact">Available for bookings now!</a></h1>
		<p class="bookLink">you can also look at pics, read about them, listen to them, watch them and even send them a message right here on the website.</p>
	</div>

	<div class="box dddBox">
		<h1 class="bookLink"><a href="/contact">Available for sale</a></h1>
	</div>

	<div class="box dddBox">
		<div class="row vidCol">

			<div class="col-sm-3">
				<img src="media/images/album.jpg">
			</div>

			<div class="col-sm-9">
				<h3>More Greatest Hits of the Monkees</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>

	<div class="box dddBox">
		<div class="row">

			<div class="col-sm-3">
				<img src="media/images/album2.jpg">
			</div>

			<div class="col-sm-9">
				<h3>The Very Best of The Monkeys</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>

	<div class="box dddBox">
		<div class="row">

			<div class="col-sm-3">
				<img src="media/images/album3.jpg">
			</div>

			<div class="col-sm-9">
				<h3>The Monkeys Greatest Hits</h3>
				<p>this record is amazing it has songs and stuff on it you should buy it now its that awesome</p>
				<p><a href="https://itunes.apple.com/us/artist/the-monkees/id4512388">Buy it here</a></p>
			</div>

		</div>
	</div>

</div>
