<div class="container">


	<h2>Music Video</h2>
	
	<video id="musicvid" controls="controls" preload="auto">
		<source src="media/video/TheMonkees.mp4" type="media/video/MP4"/>
	</video>	

	<br>

	<h2>Songs</h2>

	<p>buy songs on <a href="https://itunes.apple.com/us/artist/the-monkees/id4512388">iTunes</a></p>
	
	<div class="row align-items-center songBox">
		<div class="col-sm-6">
			<audio controls="controls" preload="auto" loop="none">
				<source src="media/audio/DaydreamBeliever.mp3" type="audio/MP3">
			</audio>
		</div>
		<div class="col-sm-6">
			<h3>Daydream Believer</h3>
		</div>
	</div>

	<div class="row align-items-center songBox">
		<div class="col-sm-6">
			<audio controls="controls" preload="auto" loop="none">
				<source src="media/audio/Clarksville.mp3" type="audio/MP3">
			</audio>
		</div>
		<div class="col-sm-6">
			<h3>Clarksville</h3>
		</div>
	</div>
	
	<div class="row align-items-center songBox">
		<div class="col-sm-6">
			<audio controls="controls" preload="auto" loop="none">
				<source src="media/audio/ImABeliever.mp3" type="audio/MP3">
			</audio>
		</div>
		<div class="col-sm-6">
			<h3>ImABeliever</h3>
		</div>
	</div>

	<div class="row align-items-center songBox">
		<div class="col-sm-6">
			<audio controls="controls" preload="auto" loop="none">
				<source src="media/audio/SteppingStone.mp3" type="audio/MP3">
			</audio>
		</div>
		<div class="col-sm-6">
			<h3>SteppingStone</h3>
		</div>
	</div>

</div>
