<div class="container page">
	
	<div class="row">
		<div class="col-xs-12">
			<h2>Music Video</h2>
		</div>	
	</div>

	<div class="row vidBox box">
		
		<div class="col-sm-7 vidCol">			
			<video class="musicvid" controls="controls" preload="auto">
				<source src="media/video/TheMonkees.mp4" type="video/MP4"/>
			</video>	
		</div>

		<div class="col-sm-5">
			<h3 class="vidTitle"> Daydream Believer Video</h3>
			<p>Here is the video for daydream believer. It is very nice and shows everyone having a lovely time, playing their instruments well and singing. It was made a long time ago, so it looks super trendy like it has instagram filters on it, which is really cool and stuff.</p>
			<p>for more awesome videos of the monkees check out <a href="https://www.youtube.com/user/themonkees">our youTube page</a></p>
		</div>

	</div>

	<br>


	<div>
		<h2>Songs</h2>

		<p>buy songs on <a href="https://itunes.apple.com/us/artist/the-monkees/id4512388">iTunes</a></p>
		<br>

		<div class="row align-items-center dddBox box">
			<div class="col-sm-6">
				<audio controls="controls" preload="auto" loop="none">
					<source src="media/audio/DaydreamBeliever.mp3" type="audio/MP3">
				</audio>
			</div>
			<div class="col-sm-6">
				<h3>Daydream Believer</h3>
			</div>
		</div>
		<br>

		<div class="row align-items-center dddBox box">
			<div class="col-sm-6">
				<audio controls="controls" preload="auto" loop="none">
					<source src="media/audio/Clarksville.mp3" type="audio/MP3">
				</audio>
			</div>
			<div class="col-sm-6">
				<h3>Clarksville</h3>
			</div>
		</div>
		<br>

		<div class="row align-items-center dddBox box">
			<div class="col-sm-6">
				<audio controls="controls" preload="auto" loop="none">
					<source src="media/audio/ImABeliever.mp3" type="audio/MP3">
				</audio>
			</div>
			<div class="col-sm-6">
				<h3>ImABeliever</h3>
			</div>
		</div>
		<br>

		<div class="row align-items-center dddBox box">
			<div class="col-sm-6">
				<audio controls="controls" preload="auto" loop="none">
					<source src="media/audio/SteppingStone.mp3" type="audio/MP3">
				</audio>
			</div>
			<div class="col-sm-6">
				<h3>SteppingStone</h3>
			</div>
		</div>

	</div>
	<br>

</div>
